.main-st {
    height: 100%;
    margin: 0;
}

#main-st {
    height: 100%;
    margin: 0;
}

.bg-st {
    /* The image used */
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background: url("../img/background1.jpg") no-repeat center;
    background-size: cover;

    /* Allign text in center */
    text-align: center;
}

.column-st {
    background-color: #000;
    opacity: 0.6;
}

.column-st:hover {
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out;
}
