<html>
<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<title>Welcome to Sushi House</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<div class="loginbox">
		<div class="content">
			<form>
				<h1>WELCOME</h1>
				<div class="input-group">
					<i class="fas fa-user"></i>
					<input type="text" name="username">
				</div>
				<div class="input-group">
					<i class="fas fa-key"></i>
					<input type="text" name="password">
				</div>
				<div class="btn">
					<button type="submit" name="Login">
						LOG IN
					</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>